body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 450px;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  background-color: lightblue;
  border-radius: 40px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 50px;
  line-height: 0.3;
  letter-spacing: -1px;
  margin-left: 60px;
  font-family: "Comic Sans MS";
}

input[type="checkbox"]:checked + label{
  text-decoration: line-through;;

}
a{
  color: red;
  text-decoration: none;
  margin-right: 10px;
}
.myButton {
  height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px blue; 
    font-size: 1em;
    color: darkblue;
}

img{
  float: left;
  margin-bottom: -30px;
}
.wrap{
  clear:both;
}